@font-face {
  font-family: 'iconfont';  /* project id 295320 */
  src: url('//at.alicdn.com/t/font_3d1o41ko38ggmn29.eot');
  src: url('//at.alicdn.com/t/font_3d1o41ko38ggmn29.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_3d1o41ko38ggmn29.woff') format('woff'),
  url('//at.alicdn.com/t/font_3d1o41ko38ggmn29.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_3d1o41ko38ggmn29.svg#iconfont') format('svg');
}

.iconfont { 
    font-family: 'iconfont';
    font-weight: 200;
    font-style: normal;
}