/* public start */
body,input,h1 { margin: 0; padding: 0; }
html,body { width:100%; height:100%; }
body { background-image: url("http://localhost:4441/img/bg/LoginBg02.jpg"); background-size: cover; }
input { outline: none; border: none; }
/* public end && wrap start  */
.wrap { 
    position:absolute;
    width:300px; right:20%; top:50%; 
    background: rgba(0,0,0,0.6);
    transform:translate(50%,-50%);  border-radius: 10px; }
/* wrap end && login start */
.login_main { 
    position: relative;
    width:300px; height: 350px;
    font-family: 'Microsoft YaHei UI';}
.login_main h1 {
    position: absolute;
    top:20px; left: 0; right:0;
    text-align: center; color:#ffffff; font:normal 30px/50px  'Microsoft YaHei UI';  }
.login_main input { 
    display: block; 
    width: 160px; height:30px; padding: 0 10px; margin: 30px auto; 
    font-size: 16px; line-height: 30px;}
.login_main input.btn { 
    position: absolute;  
    width: 180px;  bottom: 140px; left:0 ;right:0;
    background: #06F; color: #ffffff;  
    cursor: pointer; border-radius: 20px;}
.login_main #btn-reg { 
    position:absolute;
    width: 180px; bottom:100px; left:0; right:0;
    color:#f00; background:transparent;
    cursor:pointer; border-radius:20px;}
.login_main div.icon_wrap { 
    position: absolute; 
    bottom: 50px;  right: 0; width: 300px;  
    text-align: center; }
.login_main div.icon_wrap  i.iconfont{  
    margin-left: 20px; 
    font-family:"iconfont";  font-size:32px;  font-style:normal; color: #c1c1c1;
    cursor: pointer;  }
.login_main div.icon_wrap a:nth-child(1):hover i { color:#4a60e2; }
.login_main div.icon_wrap a:nth-child(2):hover i { color:#ff6a00; }
.login_main div.icon_wrap a:nth-child(3):hover i { color:#1ea425; }
/* login end */